In [217]:
import pandas as pd
import numpy as np

In [218]:
# Path
metadata_path = 'metadata.csv'
adj_matrix_path = 'Adjacency Matrix.csv'

# Ouput Path
adj_matrix_output_path = 'Adjacency_Matrix_Preprocess.csv'

In [219]:
meta_df = pd.read_csv(metadata_path)
adj_matrix_df = pd.read_csv(adj_matrix_path)

In [220]:
meta_df.head()

   Node  Pos_X  Pos_Y        Destination
0     1    879   4924       Parabol Gate
1     2   1790   4924      Material Base
2     3   2106   4924      Material Base
3     4   2918   4924  Viet-Duc Building
4     5   3944   4924        TQB-Library

In [221]:
adj_matrix_df.head()

,Node,1,2,3,4,5,6,7,8,9,...,26,27,28,29,30,31,32,33,34,35
0,1.0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2.0,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,3.0,0,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4.0,0,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,5.0,0,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [222]:
adj_matrix_df.tail()

,Node,1,2,3,4,5,6,7,8,9,...,26,27,28,29,30,31,32,33,34,35
31,32.0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
32,33.0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
33,34.0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
34,35.0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
35,NaN,1,2,3,4,5,6,7,8,9,...,26,27,28,29,30,31,32,33,34,35

In [223]:
adj_matrix_df = adj_matrix_df.iloc[:adj_matrix_df.shape[0]-1, :]
adj_matrix_df.tail()

,Node,1,2,3,4,5,6,7,8,9,...,26,27,28,29,30,31,32,33,34,35
30,31.0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
31,32.0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
32,33.0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
33,34.0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
34,35.0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [224]:
print(adj_matrix_df.shape)

(35, 36)

In [225]:
row_count = adj_matrix_df.shape[0]
column_count = adj_matrix_df.shape[1]
print(row_count)
print(column_count)

35
36

In [226]:
# Test extract data from meta_df
node_test = meta_df[meta_df['Node']==1]
print(node_test)
print(type(node_test['Pos_X']))
print(node_test['Pos_X'].values[0])
print(node_test['Pos_Y'].values[0])

   Node  Pos_X  Pos_Y   Destination
0     1    879   4924  Parabol Gate
<class 'pandas.core.series.Series'>
879
4924

In [227]:
#Utils

# Compute Weight - Euclidean Distance
def compute_norm_2(point1 : tuple, point2 : tuple):
    dx = (point2[0] - point1[0])**2
    dy = (point2[1] - point1[1])**2
    return (dx + dy)**(1/2)

def compute_weight(node_num_1, node_num_2, _meta_data):
    node_1 = _meta_data[_meta_data['Node']==node_num_1]
    node_2 = _meta_data[_meta_data['Node']==node_num_2]
    
    node_1_x = node_1['Pos_X'].values[0]
    node_1_y = node_1['Pos_Y'].values[0]
    node_2_x = node_2['Pos_X'].values[0]
    node_2_y = node_2['Pos_Y'].values[0]
    
    return compute_norm_2((node_1_x, node_1_y), (node_2_x, node_2_y))

# test
print(compute_weight(1, 2, meta_df))

911.0

In [228]:
for i in range(row_count):
    for j in range(1, column_count):
        if adj_matrix_df.iloc[i, j] == 1:
            adj_matrix_df.iloc[i, j] = compute_weight(i+1, j, meta_df)

adj_matrix_df.head()

,Node,1,2,3,4,5,6,7,8,9,...,26,27,28,29,30,31,32,33,34,35
0,1.0,0.0,911.0,0.0,0.0,0,0.0,0,0.0,0.0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
1,2.0,911.0,0.0,316.0,0.0,0,0.0,0,0.0,0.0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,1076.078529
2,3.0,0.0,316.0,0.0,812.0,0,0.0,0,0.0,0.0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
3,4.0,0.0,0.0,812.0,0.0,1026,0.0,0,0.0,0.0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1069.105233,0.000000
4,5.0,0.0,0.0,0.0,1026.0,0,1320.0,0,0.0,0.0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000

In [229]:
adj_matrix_df_sum = np.sum(adj_matrix_df.iloc[:, 1:].to_numpy())
print(adj_matrix_df_sum)

82336.02988969714

In [230]:
multi_coef = 100
for i in range(row_count):
    for j in range(1, column_count):
        if adj_matrix_df.iloc[i, j] != 0:
            adj_matrix_df.iloc[i, j] = round(adj_matrix_df.iloc[i, j]*multi_coef/adj_matrix_df_sum, 2)
        else:
            adj_matrix_df.iloc[i, j] = round(adj_matrix_df.iloc[i, j])

adj_matrix_df.head()

,Node,1,2,3,4,5,6,7,8,9,...,26,27,28,29,30,31,32,33,34,35
0,1.0,0.00,1.11,0.00,0.00,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
1,2.0,1.11,0.00,0.38,0.00,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.31
2,3.0,0.00,0.38,0.00,0.99,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
3,4.0,0.00,0.00,0.99,0.00,1.25,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.3,0.00
4,5.0,0.00,0.00,0.00,1.25,0.00,1.6,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00

In [231]:
adj_matrix_df.head()

,Node,1,2,3,4,5,6,7,8,9,...,26,27,28,29,30,31,32,33,34,35
0,1.0,0.00,1.11,0.00,0.00,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
1,2.0,1.11,0.00,0.38,0.00,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.31
2,3.0,0.00,0.38,0.00,0.99,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
3,4.0,0.00,0.00,0.99,0.00,1.25,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.3,0.00
4,5.0,0.00,0.00,0.00,1.25,0.00,1.6,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00

In [232]:
adj_matrix_df.tail()

,Node,1,2,3,4,5,6,7,8,9,...,26,27,28,29,30,31,32,33,34,35
30,31.0,0.0,0.00,0.0,0.0,0.0,0.00,0.0,0.0,0.0,...,0.0,0.0,0.00,2.64,0.0,0.0,0.0,0.0,0.00,0.00
31,32.0,0.0,0.00,0.0,0.0,0.0,0.00,0.0,0.0,0.0,...,0.0,0.0,2.53,0.00,0.0,0.0,0.0,0.0,0.00,0.00
32,33.0,0.0,0.00,0.0,0.0,0.0,1.85,0.0,0.0,0.0,...,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.00,0.00
33,34.0,0.0,0.00,0.0,1.3,0.0,0.00,0.0,0.0,0.0,...,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.00,1.37
34,35.0,0.0,1.31,0.0,0.0,0.0,0.00,0.0,0.0,0.0,...,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,1.37,0.00

In [233]:
adj_matrix_df.iloc[:, 1:].describe()

,1,2,3,4,5,6,7,8,9,10,...,26,27,28,29,30,31,32,33,34,35
count,35.000000,35.000000,35.000000,35.000000,35.000000,35.000000,35.000000,35.000000,35.000000,35.000000,...,35.000000,35.000000,35.000000,35.000000,35.000000,35.000000,35.000000,35.000000,35.000000,35.000000
mean,0.130857,0.080000,0.082000,0.101143,0.081429,0.174286,0.098286,0.118000,0.106286,0.057429,...,0.022000,0.047143,0.154286,0.173714,0.036571,0.075429,0.072286,0.052857,0.076286,0.076571
std,0.610537,0.290466,0.303856,0.337576,0.338267,0.524939,0.411128,0.408129,0.373364,0.265389,...,0.130154,0.196283,0.561968,0.599446,0.216359,0.446241,0.427648,0.312707,0.314513,0.315659
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,3.470000,1.310000,1.500000,1.300000,1.600000,2.010000,2.010000,1.830000,1.830000,1.500000,...,0.770000,0.940000,2.530000,2.640000,1.280000,2.640000,2.530000,1.850000,1.370000,1.370000

In [234]:
adj_matrix_df.iloc[:, 1:].to_csv(adj_matrix_output_path, 
                          index = False,
                          header = False
                         )